body{
    background-color: rgb(255, 165, 206);
}
.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(38, 37, 37);
    height: 700px;
    border-radius: 25px;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-end; */
    /* margin-left: auto; */
    /* align-items: right; */
    /* flex-wrap: wrap; */
    background-color: black;
    height: 700px;
    width: 85%;
    border-radius: 25px;
}
.sideBar{
    /* background-color: rgb(255, 113, 193); */
    width: 15%;
    border-top-left-radius: 25px;
}
.header{
    display: flex;
    flex-direction: row;
    margin-bottom: auto ;
    width: 100%;
    border: 1px solid white;
    border-radius: 25px;
    height: auto;
}
h1{
    color: white;
    text-align: center;
    width: 25%;
}
#searchBar{
    height: 30px;
    align-self: center;
    width: 25%;
    margin-left: 45%;
    border-radius: 20px;
    text-align: start;


    /* border: 2px solid blue;
    border-color: blue; */
}
.mainContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* border: 2px solid blue; */
}
.leftSide{
    /* border: 2px solid white; */
    width: 70%;
    height: ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.rightSide{
    border: 2px solid white;
    width: 30%;
    display: flex;
    flex-direction: column;
}
#banner{
    /* border: 2px solid aqua; */
    width: 95%;
    height: 40%;
    border-radius: 25px;
    margin-top: 15px;
    background-color: pink;
    /* border-top-left-radius: 30px;
    border-bottom-right-radius: 30px; */
    /* background-image: url(https://i.pinimg.com/736x/0a/ab/3b/0aab3b6e97e244a5c7ff988319d3e918.jpg); */
}
#popularArtist{
    border: 2px solid greenyellow;
    width: 95%;
    height: 60%;
    border-radius: 25px;
}


/* .banner{
    display: flex;
    margin-bottom: auto;
    background-image: url(https://i.pinimg.com/736x/0a/ab/3b/0aab3b6e97e244a5c7ff988319d3e918.jpg);
    width: 65%;
    height: 40%;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: aqua;
} */
